HELP.md
.gradle
build
target
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
!.idea/codeStyles/*.xml
*.iws
*.iml
*.ipr
out/

### Mac ###
.DS_Store

### テスト時に生成されるファイル
src/test/resources/output/
tmp