<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<h1>TODOリスト</h1>
<table class="bigframetable" width="320" height="400">
    <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
        <h2>新しいTODOを作成する</h2>
        <form action="/" method="post">
            <p>TODO名<input type="text" name="TodoName"></p>
            <p>期限<input type="text" name="timeLimit"></p>
            <p><input type="submit" value="TODOの追加"></p>
        </form>
    </div>
</table>
</body>
</html>