<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo編集</title>
    <link href="./css/Todo.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table class="bigframe1" width="400" height="200">
    <h1><a href="/todo">TODOリスト</a>　<a href="/todo/search"><font color="#006600">検索</font></a></h1>
</table>
<table class="bigframetable" width="320" height="400">
    <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
        <h2>新しいTODOを作成する</h2>
        <form action="/todo" method="post">
            <p>TODO名<input type="text" name="TodoName"></p>
            <p>期限<input type="text" name="timeLimit"></p>
            <p><input type="submit" value="更新"></p>
        </form>
    </div>
</table>
</body>
</html>