<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo検索</title>
    <link href="./css/Todo.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table class="bigframe1" width="400" height="200">
    <h1><a href="/todo">TODOリスト</a></h1>
</table>
<table class="bigframetable" width="320" height="400">
    <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
        <h2>未完了のTodoを検索する</h2>
        <form action="/todo/search" method="post">
            <input type="text" name="TodoName">
            <p>フリーワード<input type="submit" value="検索"></p>
        </form>
    </div>
</table>
<tr th:each="todo:${todoList}" th:object="${todo}">
    <table class="bigframe2" width="320" height="300">
        <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
            <h2>th:text="*{todoName}"</h2><br>
            <h3>期限:　</h3>th:text="*{timeLimit}"<br>
            <h3>作成日:</h3>th:text"*{createDate}"
            <form action="/edit" method="get">
                <p><input type="submit" value="編集" class="GreenButton"></p>
            </form>
            <!-- th:ifはtrueの時中身を表示する -->
            <!-- th:valueで変数名nameをAPIに渡せる？ -->
            <div th:if="*{doneFlag}">
                <form action="/todo" method="get">
                    <p><input type="submit" value="完了" name="doneFlag" class="BlueButton" th:value=false></p>
                </form>
            </div>
            <!-- th:unlessはfalseの時中身を表示する -->
            <div th:unless="*{doneFlag}">
                <form action="/todo" method="get">
                    <p><input type="submit" value="未完了" name="doneFlag" class="RedButton" th:value=true></p>
                </form>
            </div>
        </div>
    </table>
</tr>
</body>
</html>